*{
    margin: 0;
    
    box-sizing: border-box;
}
.desktop{
    border: 1px solid black;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.box{
    border: 1px solid black;
}
@media only screen and (max-width: 992px){
    .box{
        display: none;
        border: 1px solid black;
        display: grid;
        flex-wrap: wrap;
       grid-template-columns: 10px 10px 10px 10px;
       grid-template-rows: 10px 10px;}
    }